.inline-block {
  display: inline-block;
}
.text-center{
  text-align: center;
}
#temperature {
  font-size: 64px;
}

#time {
  font-size: 26px;
  text-align: top;
}

#main-icon {
  --size: 120px;
  height: var(--size);
  width: var(--size);
  /* margin-top: 20px; */
}

.wrapper>div {
  /* border: 2px solid rgb(255, 0, 0); */
  /* padding: 1em; */
}

.wrapper {
  display: grid;
  grid-template-rows: 150px 250px;
  grid-template-columns: 150px 250px  200px;
  /* grid-gap: 10px; */
}

#grid-icon {
  grid-column: 1;
  font-size: 20px;
  grid-row: 1;
}

#grid-chart {
  grid-column: 1/5;
  grid-row: 2;
}

#grid-forecast {
  text-align: right;
  align-items: right;
  min-width: 20%;
  grid-column: 3;
  font-size: 20px;
  grid-row: 1;
}

#grid-main {
  grid-column: 2;
  grid-row: 1;
}
