#chart-box {
  box-sizing: border-box;
}

#weather {
  width: 600px;
}

#main-icon {
  display: inline-block;
  vertical-align: -60%;
  height: 100px;
  width: 100px;
}

#temperature {
  vertical-align: 40%;
  display: inline-block;
}

#main-info {
  display: inline-block;
}

#misc-info {
  display: inline-block;
  text-align: right;
  align-items: right;
  min-width: 20%;
  font-size: 16px;
}

#time {
  position: relative;
  left: -140px;
  top: 0;
  font-size: 16px;
}
