.inline-block {
  display: inline-block;
}

#temperature {
  font-size: 44px;
}

#time {
  font-size: 18px;
}

#main-icon {
  --size: 90px;
  height: var(--size);
  width: var(--size);
  margin-top: -20px;
}

.wrapper>div {
  /* border: 2px solid rgb(255, 0, 0); */
  padding: 1em;
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 200px;
  grid-template-columns: 100px 175px 100px 200px;
  grid-gap: 10px;
}

#grid-icon {
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
}

#grid-chart {
  grid-column: 1/5;
  grid-row: 2;
}

#grid-misc {
  text-align: right;
  align-items: right;
  min-width: 20%;
  font-size: 16px;
  grid-column: 4;
  grid-row: 1;
}

#grid-main {
  grid-column: 2;
  grid-row: 1;
}

#grid-forecast {
  text-align: right;
  align-items: right;
  font-size: 16px;
  grid-column: 4;
  grid-row: 2;
}
